body{
    font-family:'Roboto' Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: yellowgreen;
    text-align: center;
}

.black-border{
    border:5px solid black; 
    margin: 1em;
    border-radius:1em;
    padding-top: 5px ;
    padding-right: 20px ;
    padding-bottom: 10px ;
    padding-left: 15px ;
    padding: 10px;
} 

.navbar li {
    display: inline ;
    list-style-type: none;
    width: 60px;
    margin: 2px;
    padding: 0;
}



#green-background{
    background-color:green;
}

img { 
    border:1px solid;
    padding: o;
}

.fotosander {
    transform:rotate(90deg);
    width:100px;

}

.blogpost {
    width:300px;
    border:1px solid;
    display: flex;
    

}





@media(min-width: 1024px){

body{
        background-color: green;
        color: black;
        font-size:15px;
        line-height:1.5;
    }



}
